<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Public Repository: Ola Tarkowska, Will Moore, Dundee 2016</title>

        <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
        <meta name="author" content="Ola Tarkowska, Will Moore">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="reveal-js/css/reveal.min.css">
        <link rel="stylesheet" href="reveal-js/css/theme/default.css" id="theme">
        <link rel="stylesheet" href="ome.css" id="theme">

        <!-- For syntax highlighting -->
        <link rel="stylesheet" href="reveal-js/lib/css/zenburn.css">

        <!-- If the query includes 'print-pdf', use the PDF print sheet -->
        <script>
            document.write( '<link rel="stylesheet" href="reveal-js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
                <section>
                    <h1>Apps for Extending OMERO.web</h1>
                    <h3>OME Dundee 2016</h3>
                    <p>
                        <small>
                            Ola Tarkowska | Will Moore
                        </small>
                    </p>
                </section>

                <!-- talk outline -->
                <section>
                    <h2>Outline</h2>
                    <ul>
                        <li>What's new in OMERO.web?</li>
                        <li>The OMERO.web framework</li>
                        <li>Creating an OMERO.web app</a>
                        <li>Example apps
                            <ul>
                                <li>OMERO.gallery</li>
                                <li>OMERO.figure</li>
                            </ul>
                        </li>
                    </ul>
                </section>


                <section>
                    <h2>What's new in OMERO.web?</h2>
                    <ul>
                        <li>Deployment</li>
                        <li>JSON API</li>
                        <li>Display of metadata and annotations</li>
                        <li>Image viewer</li>
                        <li>Robot Framework Selenium tests</li>
                    </ul>
                </section>


                <section>
                    <h2>Robot Framework<br>Selenium Tests</h2>

                    <img style="height:350px" src="images/RobotRdefTest.png"/>

                    <pre><code style="width:800px" class="bash">
# E.g. Run rdef tests on Chrome:

$ ./build.py -f components/tests/ui/build.xml web-chrome -DTEST=rdef_test.txt
                    </code></pre>
                </section>


                <section>
                    <h2>Robot Framework<br>Selenium Tests</h2>

                    <a target="robot" href="https://ci.openmicroscopy.org/job/OMERO-DEV-merge-robotframework/lastBuild/robot/">Daily Test Results</a><br>
                    <img style="height:300px" src="images/RobotResultsGraph.png"/>
                </section>



                <section>
                    <h2>OMERO API</h2>
                    <ul>
                        <li>Uses <a href="http://www.zeroc.com/">ICE (ZeroC)</a> for remote API access</li>
                    </ul>
                    <img src="http://downloads.openmicroscopy.org/presentations/2014/CompBio-WMoore/images/developer-api-figure.png"/>
                </section>


                <section>
                    <h2>OMERO.web framework</h2>

                    <img style="height:500px" src="http://downloads.openmicroscopy.org/presentations/2014/CompBio-WMoore/images/OmeroWeb.png"/>
                    <br>
                    <a href="https://www.openmicroscopy.org/site/support/omero5/developers/Web.html">OMERO.web documentation</a>
                </section>


                <section>
                    <h2>webgateway API</h2>
                    <ul>
                        <li>Json data: e.g. Image json
                            <a href="http://jcb-dataviewer.rupress.org/jcb/imgData/631159/"  target="_blank">
                                webgateway/imgData/&lt;imageId&gt;/
                            </a>
                        </li>

                        <div style="clear:both"></div>
                        <li>
                            <a target="new" href="http://jcb-dataviewer.rupress.org/jcb/render_image/631159/6/0/">
                                <img style="float:right; margin-right:15px" src="http://jcb-dataviewer.rupress.org/jcb/render_image/631159/6/0/" width='120' height='120'/>
                            </a>
                            <a target="new" href="http://jcb-dataviewer.rupress.org/jcb/render_image/631159/6/0/?c=1,2">
                                <img style="float:right; margin-right:15px" src="http://jcb-dataviewer.rupress.org/jcb/render_image/631159/6/0/?c=2" width='120' height='120'/>
                            </a>
                            Image rendering:
                            <a href="http://jcb-dataviewer.rupress.org/jcb/render_image/631159/6/0/"  target="_blank">
                                webgateway/render_image/&lt;imageId&gt;/&lt;z&gt;/&lt;t&gt;/
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <p>See
                        <a href="http://www.openmicroscopy.org/site/support/omero5/developers/Web/WebGateway.html"  target="_blank">
                            WebGateway documentation
                        </a>
                    </p>
                </section>


                <section>
                    <h2>Create an OMERO.web app</h2>
                    <ul>
                        <li>OMERO.web uses the 
                            <a href="https://www.djangoproject.com/" target="new">Django framework</a>
                            to support apps</li>
                        <li>Apps can be installed onto existing OMERO.web deployments</li>
                        <li>See <a href="https://www.openmicroscopy.org/site/support/omero5/developers/Web.html">
                        OMERO.web developer docs</a> | <a href="https://www.openmicroscopy.org/site/support/omero5/developers/Web/CreateApp.html">
                            Creating an app</a> documentation
                        </li>
                    </ul>
                </section>


                <section>
                    <h2 style="white-space: nowrap">Show a Dataset of images</h2>

                    <pre><code class="python">
  # urls.py
  url( r'^dataset/(?P&ltdatasetId&gt[0-9]+)/$', views.dataset ),
                    <!-- </code></pre>

                    <pre><code class="python"> -->
  # views.py
  @login_required()
  def dataset(request, datasetId, conn=None, **kwargs):
    ds = conn.getObject("Dataset", datasetId)
    return render(request, "dataset.html", {"dataset": ds})
                    </code></pre>

                    <pre><code class="html">
  &lt!-- dataset.html --&gt
  &lthtml&gt&ltbody&gt

    &lth1&gt{{ dataset.getName }}&lt/h1&gt

    {% for i in dataset.listChildren %}
      &ltimg src="{% url 'webgateway.views.render_thumbnail' i.id %}" /&gt
      {{ i.getName }}
    {% endfor %}

  &lt/body&gt&lt/html&gt
                    </code></pre>

                    See <a href="https://www.openmicroscopy.org/site/support/omero5/developers/Web/CreateApp.html">
                            Creating an app</a> documentation

                </section>


                <section>
                    <h2>App examples</h2>
                    <ul>
                        <li>Ship with OMERO.web:
                            <ul>
                                <li>
                                    webgateway | webclient | webadmin
                                </li>
                            </ul>
                        </li>
                        <li>External sites:
                            <ul>
                                <li><a href="http://odr.stowers.org/websimr/" target="stowers">
                                        Stowers ODR</a> |
                                    <a href="http://smc.sysgro.org/babel/omero/HTscape/" target="sysgro">
                                        Sysgro (pombe)</a> |
                                    <a href="http://jcb-dataviewer.rupress.org/" target="jcb">
                                        JCB DataViewer</a>
                                </li>
                            </ul>
                        </li>
                        <li>OME projects:
                            <ul>
                                <li><a href="http://will-moore.github.io/figure/">OMERO.figure</a> |
                                    <a href="https://www.openmicroscopy.org/site/support/partner/omero.webtagging">OMERO.webtagging</a>
                                </li>
                            </ul>
                        </li>
                        <li>Examples & Prototypes:
                            <ul>
                                <li>
                                    <a href="https://github.com/openmicroscopy/webtest/">webtest</a> |
                                    <a href="https://github.com/will-moore/gallery/">OMERO.gallery</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </section>



                <section>
                    <h2>Webclient plugins</h2>
                    <ul>
                        <li>Hooks to bring app content into webclient</li>
                        <li>See
                            <a href="https://www.openmicroscopy.org/site/support/omero5/developers/Web/WebclientPlugin.html">
                                webclient plugin docs</a>
                        </li>
                    </ul>
                    <pre><code contenteditable style="font-size:90%" class="bash">$ bin/omero config set omero.web.login_redirect 
        '{"redirect": ["webindex"], "viewname": "webindex_custom"}'
</code></pre>

                <img src="images/login_redirect.png" width='550px' class="no_shadow"/>
                </section>

                <section>
                    <h2>Left hand pane plugins</h2>
                    <img src="images/webplugin.png" height="500px"> 
                </section>

                <section>
                    <h2>Center pane plugins</h2>

                    <pre><code style="width:900px; font-size:80%" class="bash">
$ bin/omero config append omero.web.ui.center_plugins
    '["Auto Tag", "webtagging/auto_tag_init.js.html", "auto_tag_panel"]'

</code></pre>
                    <img src="images/webclient_plugins.png" height="500px"> 
                </section>

                <section>
                    <h2>Right hand pane plugins</h2>

                    <pre><code style="width:900px; font-size:80%" class="bash">
$ bin/omero config append omero.web.ui.right_plugins
        '["ROIs", "webtest/webclient_plugins/right_plugin.rois.js.html", "image_roi_tab"]'

</code></pre>
                    <img src="images/webtest_roi_plugin.png" height="500px"> 
                </section>


                <section>
                    <h2>Example: OMERO.gallery</h2>

                    <ul>
                        <li>Created as an <a href="https://github.com/will-moore/gallery/">
                            example 'public gallery' app</a>
                        </li>
                        <li>Provides basic Group -> Project -> Dataset -> Image browsing</li>
                        <li>Uses <a href="http://getbootstrap.com/">bootstrap</a> css framework
                            <ul>
                                <li>Supports mobile, including phones</li>
                                <li>Easy to customize</li>
                            </ul>
                        </li>
                        <li>Example: <a href="http://cci02.liv.ac.uk/gallery/">
                            Liverpool CCI OMERO gallery</a> From <a href="https://raphazlab.wordpress.com/">Raphaël Lévy's lab</a>.
                    </ul>

                </section>

                <section>
                    <h2>Summary</h2>
                    <ul>
                        <li>Apps available to install:
                            <ul>
                                <li>
                                    <a href="https://github.com/openmicroscopy/webtest/">webtest</a> |
                                    <a href="https://github.com/will-moore/gallery/">OMERO.gallery</a>
                                </li>
                                <li><a href="http://will-moore.github.io/figure/">OMERO.figure</a> |
                                    <a href="https://www.openmicroscopy.org/site/support/partner/omero.webtagging">OMERO.webtagging</a>
                                </li>
                            </ul>
                        </li>
                        <li>Or write your own!
                        </li>
                    </ul>
                </section>

                <section>
                    <h2>Thank you</h2>
                    <ul>
                        <li>Prof. Jason Swedlow</li>
                        <li>OME team</li>
                    </ul>
                    <br/><br/>
                    <div style="background-color: #fff;">
                        <img src="images/wellcome.png" height="140px"> 
                        <img src="images/bbsrc.png" height="140px">
                    </div>
                </section>

                <section>
                    <h1>Questions ?</h1>
                </section>
            </div>

        </div>

        <script src="reveal-js/lib/js/head.min.js"></script>
        <script src="reveal-js/js/reveal.min.js"></script>

        <script>

            // Full list of configuration options available here:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                // parallaxBackgroundImage: "images/ome-icon-opacity-big.png",
                // parallaxBackgroundSize: "2048px 1073px",
                // transition: 'linear',
                controls: true,
                progress: true,
                history: true,
                center: true,
                transitionSpeed: 'slow',

                theme: 'sky', //Reveal.getQueryHash().theme, // available themes are in /css/theme
                transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    // { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    // { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    // { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'reveal-js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    // { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
                    // { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
                    // { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
                    // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
                ]
            });

        </script>

    </body>
</html>
